.mobile {
	height: 43vw;
	width: 23vw;
}
.set {
	transform: rotate(0deg);
}
.box {
	visibility: hide;
}
.msize2 {
	animation: s2 1s forwards ease-in-out;
}
@keyframes s2 {
	from {
		height: 43vw;
		width: 23vw;
		transform: rotate(90deg);
	}
	to {
		height: 30vw;
		width: 15vw;
		transform: rotate(0deg);
	}
}
.r {
	animation: s1 1s forwards ease-in-out;
	transform: rotate(0deg);
}
@keyframes s1 {
	from {
		height: 30vw;
		width: 15vw;
		transform: rotate(0deg);
	}
	to {
		height: 43vw;
		width: 23vw;
		transform: rotate(90deg);
	}
}

.rot {
	transform: rotate(90deg);
}
.text {
	width: 250px;
	height: 150px;
	border-radius: 1em;
	position: absolute;
	color: #fff;
	font-size: 200%;
	right: 0;
}
.button {
	border-color: #fff;
	font-size: 2vw;
	border-radius: 30px;
	color: #fff;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;

	padding-right: 20px;
}
.rapper {
	display: flex;
	flex-direction: row;
	color: white;
	height: 100vh;
}
.rapper1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}
.magic {
	transform: rotate(90deg);
	height: 70%;
	width: 120%;
	left: 2%;
	visibility: hidden;
	border-radius: 20px;
}
@media (max-width: 900px) {
	body {
		font-family: sans-serif;
		text-align: center;
		height: 160vh;
		background-color: black;
		color: black;
		overflow-x: none;

		scroll-behavior: smooth;
	}

	.text {
		position: absolute;
		margin-right: -40vw;
		right: 0;
	}

	.box12 {
		width: 30px;
		height: 70px;
		position: absolute;
		top: 20%;
		left: 80%;
		border-radius: 0.5em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box2 {
		width: 30px;
		height: 70px;
		position: absolute;
		top: 20%;
		left: -70%;
		border-radius: 0.5em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box1 {
		width: 60px;
		height: 70px;
		position: absolute;
		border-radius: 0.5em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
	}
	.box3 {
		width: 30px;
		height: 70px;
		position: absolute;
		top: 20%;
		left: 140%;
		border-radius: 0.5em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box4 {
		width: 30px;
		height: 70px;
		position: absolute;
		top: 20%;
		left: 40%;
		border-radius: 0.5em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box5 {
		width: 30px;
		height: 70px;
		position: absolute;
		top: 20%;
		left: 40%;
		border-radius: 0.5em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box11 {
		width: 30px;
		height: 70px;
		position: absolute;
		top: 20%;
		left: 40%;
		border-radius: 0.5em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box10 {
		width: 30px;
		height: 70px;
		position: absolute;
		top: 20%;
		left: 40%;
		border-radius: 0.5em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box9 {
		width: 30px;
		height: 70px;
		position: absolute;
		top: 20%;
		left: 40%;
		border-radius: 0.5em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box8 {
		width: 30px;
		height: 70px;
		position: absolute;
		top: 20%;
		left: 40%;
		border-radius: 0.5em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box7 {
		width: 35px;
		height: 70px;
		position: absolute;
		top: 26%;
		left: -170%;
		border-radius: 0.5em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 60%;
		margin-left: -2px;
		margin-right: auto;
	}
	.box6 {
		width: 39px;
		height: 70px;
		position: absolute;
		top: 24%;
		left: 230%;
		border-radius: 0.5em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: -4px;
		margin-right: auto;
	}
	.boxes {
		position: absolute;
		z-index: -10;
		left: -22%;
		top: 65%;
	}
	.magic {
		height: 80%;
		transform: rotate(90deg);
		position: absolute;
		visibility: hidden;
		justify-content: center;
		align-items: center;
		align-self: center;
		align-items: center;
		margin-top: 15%;
		margin-left: -30%;
		width: 150%;
		opacity: 100;
	}
}
@media (min-width: 800px) {
	body {
		font-family: sans-serif;
		text-align: center;
		height: 350vh;
		background-color: black;
		color: black;
		overflow-x: none;

		scroll-behavior: smooth;
	}
	.magic {
		height: 80%;
		position: absolute;
		visibility: hidden;
		justify-content: center;
		align-items: center;
		align-self: center;
		align-items: center;
		margin-top: 17%;
		margin-left: -30%;
		width: 150%;
		opacity: 100;
	}
	.boxes {
		position: absolute;
		z-index: -10;
		left: 10%;
		visibility: hidden;
		top: 24.5%;
	}
	.box11 {
		width: 70px;
		height: 170px;
		position: absolute;
		visibility: hide;
		top: 10%;
		left: 6%;
		border-radius: 1em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box12 {
		width: 70px;
		height: 170px;
		position: absolute;
		visibility: hidden;
		top: 17%;
		left: 6%;
		border-radius: 1em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box10 {
		width: 70px;
		visibility: hide;
		height: 170px;
		position: absolute;
		top: 32%;
		left: 6%;
		border-radius: 1em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box9 {
		width: 70px;
		visibility: hide;
		height: 170px;
		position: absolute;
		top: 32%;
		left: 6%;
		border-radius: 1em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box8 {
		visibility: hide;
		width: 70px;
		height: 170px;
		position: absolute;
		top: 32%;
		left: 6%;
		border-radius: 1em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box7 {
		width: 110px;
		height: 170px;
		position: absolute;
		visibility: hide;
		top: 32%;
		left: -28%;
		border-radius: 1em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box6 {
		width: 140px;
		height: 170px;
		position: absolute;
		visibility: hide;
		top: 32%;
		left: -30%;
		border-radius: 1em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box5 {
		width: 70px;
		height: 170px;
		visibility: hide;
		position: absolute;
		top: 32%;
		left: 30%;
		border-radius: 1em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box4 {
		width: 70px;
		height: 170px;
		visibility: hide;
		position: absolute;
		top: 32%;
		left: 6%;
		border-radius: 1em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box3 {
		width: 70px;
		height: 170px;
		position: absolute;
		top: 6%;
		visibility: hide;
		left: 6%;
		border-radius: 1em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box2 {
		width: 70px;
		height: 170px;
		visibility: hide;
		position: absolute;
		top: 22%;
		left: 10%;
		border-radius: 1em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.box1 {
		width: 120px;
		height: 170px;
		visibility: hide;

		top: 12%;
		left: 30%;
		border-radius: 1em;
		background-color: rgba(104, 103, 103, 0.603);
		opacity: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}
